<section class="page-simple page-404">
  <p class="section-kicker">404</p>
  <h1 class="page-simple__title">{{ 'general.404.title' | t }}</h1>
  <p class="page-simple__subtext">{{ 'general.404.subtext' | t }}</p>
  <a class="button button--solid" href="{{ routes.all_products_collection_url }}">{{ 'general.404.back_to_shop' | t }}</a>
</section>
